* {
    font-family: poppins, Mulish;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 2000px;
}

img {
    max-width: 100%;
    display: block;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

i {
    transition: 0.4s;
}

i:hover {
    transform: scale(1.3);
}