.header {
    color: var(--color-darkest);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.blur {
    backdrop-filter: blur(5px);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.icon {
    margin-left: 20px;
    color: var(--color-darkest);
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;

}

.nav-links {
    margin-right: 8px;
    text-align: center; 
    font-weight: 700;
    font-size: 20px;
    display: flex;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: var(--color-darkest);
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(2, 218, 197);
    margin: auto;
    transition: 0.5s;
    display: block;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* sidebar */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 225px;
    z-index: 1031;
    background-color: var(--color-lightest);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.fa-bars,
.fa-x {
    font-size: 26px;
}

.fa-bars {
    display: none !important;
    margin: 4px 5px 2px 15px;
}

.fa-x {
    margin: 10px 0 10px 12px;
}

.fa-moon {
    margin: 0 20px;
    font-size: 26px;
}


@media(width <= 800px) {
    .hide-top-bar {
        display: none !important;
    }
    .fa-bars {
        display: block !important;
    }
    .nav-links {
        flex-direction: row-reverse;
    }
}

@media(width <= 400px) {
    .sidebar {
        width: 100%;
    }
}



